/* @override http://127.0.0.1:8009/static/css/base.css */

#search_terms {
    font-size: 12px;
    background-color: lightgrey;
    padding: 0px;
    margin-top: 0px;
}

#search_terms ul {
    list-style-type: square;
    max-width: 700px;
}

#search_terms li {
    padding: 10px;
    display: inline-block;
}

#search_terms li span {
    cursor: pointer;
}

#alerts_data li.grey.active a {
	color: white;
	background-color: grey;
}

#alerts_data .btn-large {
	font-size: 19px;
	padding: 10px 14px;
}

#alerts_data ul.nav.nav-pills {
	margin-bottom: 0px;
}

#rules_rows #attrTitle,
#rules_rows #actionTitle {
	text-align: center;
}

table#rules_rows tr.data-set td {
	text-align: center;
}

div.select2-drop {
	width: 100px;
	position: absolute;
	top: 315px;
}

#status .widget-content {
	min-height: 115px;
}

#addatag, 
#alerts #limit, 
#alerts #sort,
#alerts #presets {
	margin-bottom: 0px;
	margin-top: 0px;
}

#alerts #limit, 
#alerts #sort,
#alerts #presets {
	margin-right: 15px;
}

#addTagBtn {
	margin-top: 6px;
	margin-left: 3px;
	margin-right: 3px;
}