# This is a sample raven config
# Raven is a CLI tool to send alerts to Doimino

[defaults]

environment=production
colo=
host=
status=3
position=0
server=localhost
port=8009
logdir=/var/log/domino
teams=
tags=
