# This is a sample raven config
# Raven is a CLI tool to send alerts to Doimino

[defaults]

environment=production
colo=
host=
status=3
server=127.0.0.1
port=8009
logdir=/var/log/domino
teams=
tags=
